*
    margin: 0
    padding: 0
    box-sizing: border-box
ol, li, ul
    list-style: none
ol, li, ul, a
    color: inherit
    font-size: inherit
    font-weight: inherit
a
    text-decoration: none
html
    font-size: 1px
    margin: 0 !important
    padding: 0
body
    font-size: 18rem
    font-family: 'Montserrat', sans-serif
    font-weight: 400
    display: flex
    flex-direction: column
    min-height: 100vh
    @media screen and ( max-width: 991px )
        &._lock
            overflow: hidden
        
section, header, footer
    padding: 0 15rem
section
    &:not(:last-child)
        margin-bottom: 60rem
.container
    max-width: $maxWidthContainer + rem
    margin: 0 auto
#wpadminbar
    position: relative
.menu
    display: flex
    align-items: center
    flex-direction: column
    font-size: 16rem
    gap: 20rem
    &__link
        &._active
            font-weight: 700
.page
    margin-bottom: 60rem
    flex-grow: 1
.swiper
    width: 100%
    &, &-slide
        @include adaptiv-value('min-height', 650, 180, 0)
    &-slide
        background-repeat: no-repeat
        background-size: cover
    &-pagination
        display: block
        bottom: 0% !important
        &-bullet
            cursor: pointer
            width: 15rem
            height: 15rem
            background-color: #ffffff
            opacity: 1
            transition: .3s background-color ease
            &-active
                background-color: #000