*
    margin: 0
    padding: 0
    box-sizing: border-box
ol, li, ul
    list-style: none
ol, li, ul, a
    color: inherit
    font-size: inherit
    font-weight: inherit
a
    text-decoration: none
html
    font-size: 1px
    margin: 0 !important
    padding: 0
body
    font-size: 18rem
    font-family: 'Montserrat', sans-serif
    font-weight: 400
section, header, footer
    padding: 0 15rem
.container
    max-width: $maxWidthContainer + rem
    margin: 0 auto
img
    height: 100%
    width: 100%
    object-fit: cover
#wpadminbar
    display: none
.logo
    width: 60rem
    height: 60rem
    display: block
    overflow: hidden
    border-radius: 50%
.menu
    display: flex
    align-items: center
    flex-direction: column
    gap: 20rem
    &__link
        font-weight: 700